Saleth
<div class="bs-example">
        <form class="form-horizontal">
                <fieldset>
                      <table>
                        <tr>
                              <td>
			        <label class="control-label" for="brandtype">Product Type</label>
			        <div class="controls">
			          <%= select_tag "product_type_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One" %>
			        </div>
                              </td>
                              <td>
                                <div class="control-group" style="margin-bottom: 2px;">
                                      <input name="product_type" class="form-control datepicker" id="add_product_type_val" placeholder="Add Product Type">
                                </div>
                              </td>
			      <td>
				 <div align="center">
				      <button type="button" class="btn btn-success" id="add_product_type_btn">Add</button>
				 </div>
			      </td>
                          </tr>
                        
                         <tr>
                              <td>
                                <label class="control-label" for="brandtype">Brand</label>
                                <div class="controls">
                                  <%= select_tag "product_typ_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One" %>
                                </div>
                              </td>
                              <td>
                                <div class="control-group" style="margin-bottom: 2px;">
                                      <input name="brand_id" class="form-control datepicker" id="add_brand_val" placeholder="Add Brand">
                                </div>
                              </td>
                              <td>
                                 <div align="center">
                                      <button type="button" class="btn btn-success" id="add_brand_btn">Add</button>
                                 </div>
                              </td>
                          </tr>

  			  <tr>
                              <td>
                                <label class="control-label" for="brandtype">Brand Type</label>
                                <div class="controls">
                                  <%= select_tag "brand_type_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One" %>
                                </div>
                              </td>
                              <td>
                                <div class="control-group" style="margin-bottom: 2px;">
                                      <input name="product_type" class="form-control datepicker" id="add_brand_type_val" placeholder="Add Brand Type">
                                </div>
                              </td>
                              <td>
                                 <div align="center">
                                      <button type="button" class="btn btn-success" id="add_brand_type_btn">Add</button>
                                 </div>
                              </td>
                          </tr>
			  
  			  <tr>
                              <td>
                                <label class="control-label" for="brandtype">Product Spare</label>
                                <div class="controls">
                                  <%= select_tag "product_spare_id", options_from_collection_for_select(ProductType.all, "id", "p_type"), :prompt => "Select Any One" %>
                                </div>
                              </td>
                              <td>
                                <div class="control-group" style="margin-bottom: 2px;">
                                      <input name="product_type" class="form-control datepicker" id="add_product_spare_val" placeholder="Add Product Spare">
                                </div>
                              </td>
                              <td>
                                 <div align="center">
                                      <button type="button" class="btn btn-success" id="add_product_spare_btn">Add</button>
                                 </div>
                              </td>
                          </tr>

			</table>
		</fieldset>
	</form>
</div>
<script>
jQuery("#add_product_type_btn").click(function(){
   var val = $("#add_product_type_val").val();
   if(val !=''){
	jQuery.ajax({
    		url: "add_product_items",
		type: "GET",
	        data: {"product_type_val" : val},
	        dataType: "html",
		success: function(data) {
                jQuery("#product_type_id").html(data);
	    }
	});
   }
   else{
   alert("Product Type Should not be blank");
   }

}
);

jQuery("#add_brand_btn").click(function(){
   var item = $("#add_brand_val").val();
   if(item !=''){
        jQuery.ajax({
                url: "update_spare_items",
                type: "GET",
                data: {"brand_type_id" : id},
                dataType: "html",
                success: function(data) {
                jQuery("#spare_items_div").html(data);
            }
        });
   }
   else{
   alert("Product Type and Brand should not be blank");
   }

}
);

jQuery("#add_brand_type_btn").click(function(){
   var item = $("#add_brand_type_val").val();
   if(item !=''){
        jQuery.ajax({
                url: "update_spare_items",
                type: "GET",
                data: {"brand_type_id" : id},
                dataType: "html",
                success: function(data) {
                jQuery("#spare_items_div").html(data);
            }
        });
   }
   else{
   alert("Product Type, Brand and Brand Type should not be blank");
   }

}
);


jQuery("#add_product_spare_btn").click(function(){
   var item = $("#add_product_spare_val").val();
   if(item !=''){
        jQuery.ajax({
                url: "update_spare_items",
                type: "GET",
                data: {"brand_type_id" : id},
                dataType: "html",
                success: function(data) {
                jQuery("#spare_items_div").html(data);
            }
        });
   }
   else{
   alert("Product Type Brand, Brand Type and Product Spare should not be blank");
   }

}
);
</script>
