<div class="bs-example">
	<form class="form-horizontal">
    		<fieldset>
		      <table style="margin:35px 0 0 105px">
      			<tr>
			      <td>
			        <div class="control-group">
			            <label class="control-label" for="inputEmail">Product Name</label>
			            <div class="controls">
			                <input type="text" id="custemer_name" placeholder="Custemer Name">
			            </div>
			        </div>
			      </td>
			      <td>
				<div class="control-group">
                                    <label class="control-label" for="inputEmail">Date</label>
                                    <div class="controls">
                                        <input type="text" id="date" placeholder="Date">
                                    </div>
                                </div>
			      </td>
			  </tr>
			  <tr>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Email</label>
				            <div class="controls">
				                <input type="text" id="email" placeholder="Email"><i class="icon-envelope"></i>
				            </div>
				      </div>
			      </td>
			      <td>
				      <div class="control-group">
				            <label class="control-label" for="inputEmail">Phone</label>
				            <div class="controls">
				                <input type="text" id="email" placeholder="Phone">
				            </div>
				      </div>
			     </td>
			  </tr>
			</table>
		</fieldset>
	</form>

</div>
